.container
  .row.election_overview
    .col-md-8.col-md-offset-2.text-left
      .row
        .col-md-9
          %h1 Candidate Overview

      %p.lead= "This is an overview of all of the candidates in the <em>#{link_to current_organisation.name, edit_organisation_path(current_organisation)}</em> organisation. You can create a new candidate from an election.".html_safe
  %hr.col-md-10.col-md-offset-1
  %hr
  - @candidates.each do |candidate|
    = render 'candidates/candidate', candidate: candidate
