.container
  .row.election_overview
    .col-md-8.col-md-offset-2.text-left
      .row
        .col-md-8
          %h1 Organisation overview
          
        .col-md-4
          %button.pull-right.btn.btn-default.show_election_button{:type => "button"}= link_to 'Edit organisation', edit_organisation_path(current_organisation)

  %hr.col-md-10.col-md-offset-1
  %hr
  .row.user_overview
    .col-md-8.col-md-offset-2.text-left
      %table
        %thead
          %th
            %td
            %td
            %td
        %tbody
          - current_organisation.users.each do |user|
            %tr
              = render 'users/user', user: user
