.container
  .row.election_overview
    .col-md-8.col-md-offset-2.text-left
      .row
        .col-md-8
          %h1 Election Overview
          
        .col-md-4
          - if current_organisation.is_admin?(current_user)
            %button.pull-right.btn.btn-default.show_election_button{:type => "button"}= link_to 'New election', new_organisation_election_path(current_organisation)
      %p.lead This is an overview of all of the elections that you can take part in
  %hr.col-md-10.col-md-offset-1
  %hr
  - @elections.active.each do |election|
    = render 'elections/election', election: election
  - @elections.expired.each do |election|
    = render 'elections/election', election: election
