.container
  .row.election_overview
    .col-md-8.col-md-offset-2.text-left
      .row
        .col-md-8
          %h1 New election

      = render 'form'

      = link_to 'Back', organisation_elections_path(current_organisation)
