/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

header .row {
  margin-top: -83px;
  z-index: 50000 !important;
}

.flash_message_container {
  margin-left: 0px;
  margin-right: 0px;
}

.flash_messages {
  .alert {
    background-color: red;
    opacity: 0.8;
    height: 63px !important;
  }
  .notice {
    margin-top: -5px;
    background-color: #6b0;
    opacity: 0.8;
    height: 63px !important;
    padding-top: 0px;
  }

  .message_block ul.notice li {
    padding-top: 20px;
  }

  .message_block ul li {
    margin-top: 5px;
    text-align: center;
    list-style-type: none;
    color: #FFF;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 20px;
    line-height: 18px;
  }
}

.navbar {
  z-index: 0 !important;
  border-radius: 0px !important;
}
