-# Rails flash messages styled for Bootstrap 3.0
- flash.each do |name, msg|
  - if msg.is_a?(String)
    .row.flash_message_container
      .fixed
        .flash_messages
          %button{type: "button", class: "close", "data-dismiss": "alert", "aria-hidden": "true"}
          = message_block :on => [:all], :after_message => '<a href="#" class="close">&times;</a>'
